<!DOCTYPE html>
<html lang="zh-CN" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>renju</title>

    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="css/layoutit.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="img/favicon.png">

    <script type="text/javascript" src="js/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="js/jquery.htmlClean.js"></script>
    <!--<script type="text/javascript" src="ckeditor/ckeditor.js"></script>-->
    <!--<script type="text/javascript" src="ckeditor/config.js"></script>-->
    <!--<script type="text/javascript" src="js/scripts.js"></script>-->
    <!--vue-->
    <script type="text/javascript" src="js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/0.9.0/vue-resource.min.js"></script>

    <!--棋盘-->
    <script type="text/javascript" src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
    <!--<script type="text/javascript" src="js/chessboardVue.js"></script>-->


</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <a id="modal-493620" href="#modal-container-493620" role="button" class="btn" data-toggle="modal"
               style="display: none">触发遮罩窗体</a>

            <div id="modal-container-493620" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-header">
                    <h3 id="myModalLabel">
                        请为您起一个好听的名字!
                    </h3>
                </div>
                <div class="modal-body" contentEditable="true" id="userNameInput">
                    游客玩家
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="startGameBtn" data-dismiss="modal">开始游戏</button>
                </div>
            </div>
            <h1>
                renju-五子棋
            </h1>
        </div>
    </div>

    <div id="gameListArea">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span8" id="gameListVue">
                    <h3>
                        游戏列表
                    </h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                编号
                            </th>
                            <th>
                                创建者
                            </th>
                            <th>
                                挑战者
                            </th>
                            <th>
                                状态
                            </th>
                            <th>
                                挑战
                            </th>
                            <th>
                                观战
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in items" class="info">
                            <td>{{ $index }}</td>
                            <td>{{ item.creator }}</td>
                            <td>{{ item.joiner }}</td>
                            <td>{{ item.gameState }}</td>
                            <td>
                                <button v-on:click="startJoinGame($index)">挑战</button>
                            </td>
                            <td>
                                <button>观战</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span4" id="playerListVue">
                    <h3>
                        玩家列表
                    </h3>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>
                                编号
                            </th>
                            <th>
                                玩家名称
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in items" class="error" track-by="$index">
                            <td>{{ $index }}</td>
                            <td>{{ item }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row-fluid" id="gameHallControl">
            <div class="span12">
                <p>
                    <button class="btn" type="button" v-on:click="startCreateGame">创建游戏</button>
                </p>
            </div>
        </div>
    </div>

    <div id="gamePlayArea" style="display: none">
        <div class="row-fluid">
            <div class="span8">
                <canvas id="chessboardVue" width="750" height="750"></canvas>
            </div>
            <div class="span4" id="gamePlayRightVue">
                <table class="table">
                    <tbody>
                    <tr class="info">
                        <td>
                            {{creator}}
                        </td>
                        <td>
                            VS
                        </td>
                        <td>
                            {{joiner}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    //进入游戏大厅,直接创建websocket连接
    var connection = new WebSocket("ws://localhost:8080/renju");
    connection.onopen = function () {
        console.log("websocket链接已打开...")
    };
    connection.onerror = function (e) {
        alert('websocket Error:' + e);
    };
    connection.onclose = function (e) {
        alert('websocket close code:' + e.code + ' reason:' + e.reason);
    }
    //websocket客户端的控制中心
    connection.onmessage = function (e) {
        console.log('Server: ' + e.data);
        var json;
        try {
            json = JSON.parse(e.data);
        } catch (error) {
            console.log(error);
            return;
        }
        if (json.success) {
            switch (json.result) {
                case "create_game_success":
                    gameHallControl.finishCreateGame();
                    break;
            }
        }
    };
    //websocket客户端的调用中心
    function sendMessage(data) {
        connection.send(data);
    }

    //用户名作为全局变量,后边显示要用到
    var userName;

    //强制用户起个名字过来
    $('#modal-container-493620').modal({
        keyboard: false
    }).on('hide.bs.modal', function (e) {
        userName = $("#userNameInput").text().trim();
        if (!userName) {
            e.preventDefault();
            alert('名字不能为空');
        }
        //根据填的名称创建用户
        var simpleProtocol = {};
        simpleProtocol.action = "create_user";
        simpleProtocol.content = userName;
        connection.send(JSON.stringify(simpleProtocol));
    });

    //    initGame();
</script>
<!--游戏大厅-->
<script type="text/javascript" src="js/renjuGame.js"></script>

</body>
</html>