<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byName">
    <!-- 主配置文件 -->


    <!-- biz层注解驱动 -->

    <context:component-scan base-package="com.toys.renju.service"/>
    <!--spring placeholder -->
    <context:property-placeholder location="classpath:config.properties"/>


    <bean id="messageHandlerFactory" class="com.toys.renju.service.message.MessageHandlerFactory">
        <property name="messageHandlerMap">
            <map>
                <entry key="create_user" value-ref="createUserMessageHandler"/>
                <entry key="default" value-ref="defaultMessageHandler"/>
                <entry key="create_game" value-ref="createGameMessageHandler"/>
                <entry key="join_game" value-ref="joinGameMessageHandler"/>
                <entry key="watch_game" value-ref="watchGameMessageHandler"/>
                <entry key="left_game" value-ref="leftGameMessageHandler"/>
                <entry key="do_step" value-ref="leftGameMessageHandler"/>
            </map>
        </property>
    </bean>
</beans>
